.event-preview a {
  text-decoration: none;
}

.event-preview-main {
  display: flex;
}

.event-preview-left {
  flex: 1;
}

.event-prieview-right {
  flex: 2;
}

/*
.event-image {
  max-width: 100px;
}*/