* {
  color: black;
  font-family: 'Courier New', Courier, monospace;
}
p, h1, h2, h3, h4, h5 {
  font-family: 'Courier New', Courier, monospace;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background: #fff; /* #f4f4f4; */
}

#main-div {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.layout-blog-div {
  margin: 0 auto;
  max-width: 1200;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding: 0 1rem;
}

#layout-blog-div-small {
  flex: 1;
}

#layout-blog-div-big {
  flex: 2.5;
  margin-right: 5rem;
}

#layout-sidebar-div{
  flex: 1;
}