#sidebar-div {
  /*background-color: #f19f4d; */
  border: 3px dashed #f19f4d;
  max-width: 960;
  padding: 0.5rem;
  margin-bottom: 25px;
}

#sidebar-header {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

#sidebar-text {
  font-size: 0.9rem;
}

#sidebar-email {
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
}

#sidebar-facebook{
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}